<!-- BEGIN: EDT -->
<form method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Edu 1</td>
            <td>    
                <input type="text" name='txtEdu1' value='{EDT.edu_1}'>
                <span id='mesError' style="color:red">{messFirst}</span>
            </td>
        </tr>
        <tr>
            <td>Edu 2</td>
            <td>    
                <input type="text" name='txtEdu2' value='{EDT.edu_2}'>
                <span id='mesError' style="color:red">{messLast}</span>
            </td>
        </tr>
        <tr>
            <td>
                <button>Save</button>
                <td><input type="reset" value='Reset'></td>
            </td>
        </tr>
    </table>
</form>
<!-- END: EDT -->