<!-- BEGIN:LISTING -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- <script type="text/javascript" src="{baseUrl}/btth_4/admin/js/users/delete.js"></script> -->
</head>

<body>
    <br>
    <a class="btn btn-success" href="?m=users&a=add"> <i class="fa fa-plus"></i> Add New Account</a>
    <span class="navbar-brand float-right btn btn-warning mb-2">Welcome {LS.user_name}</span>

    <table border=1 style="width: 100%;" id="tblListing">
        <tr class="text-center">
            <th> ID</th>
            <th>User Name</th>
            <th>User Pass</th>
            <th>User Level</th>
            <th>Registration Date</th>
            <th>Status</th>
            <th colspan=2>Action</th>
        </tr>
        <!-- BEGIN:LS -->
        <tr>
            <td>{LS.id}</td>
            <td>{LS.user_name}</td>
            <td>{LS.user_pass}</td>
            <td>{LS.user_level}</td>
            <td>{LS.registration_date}</td>
            <td>{LS.status}</td>
            <td><a href="?m=user&a=edit&id={LS.user_id}">Edit</a></td>
            <td><a href="javascript:void(0)" onclick='onDelete("user","delete","{LS.id}")'
                    id="btnDelete">Delete</a></td>
            <!-- <td><button id="btnDelete" value='{LS.user_id}'>Delete</button></td> -->
        </tr>
        <!-- END:LS -->
    </table>
</body>

</html>
<!-- END:LISTING -->