<!-- BEGIN: EDT -->
<form method="POST" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Exp 1</td>
            <td>    
                <input type="text" name='txtExp_1' value='{EDT.exp_1}'>
                <span id='mesError' style="color:red">{messFirst}</span>
            </td>
        </tr>
        <tr>
            <td>Exp 2</td>
            <td>    
                <input type="text" name='txtExp_2' value='{EDT.exp_2}'>
                <span id='mesError' style="color:red">{messLast}</span>
            </td>
        </tr>
        <tr>
            <td>
                <button>Save</button>
                <td><input type="reset" value='Reset'></td>
            </td>
        </tr>
    </table>
</form>
<!-- END: EDT -->